body {
    background-color: lightgray;
}
section {
    max-width: 30%;
    display: inline-block;
}
section:first-child {
    margin-right: 20%;
    color: white;
}
.main-image {
    max-width: 550px;
    position: absolute;
    top: -9%;
    right: -70px;
    transition: 0.5s;
}
.main-image:hover {
    max-width: 900px;
}
main {
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    box-shadow: 0px 0px 10px black;
    padding: 2%;
    margin: 7% 7%;
    position: relative;
    width: 82%;
    height: 68vh;
}
body::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #B92327, #1565C0);
    box-shadow: 0px 0px 10px black;
    transform: skewY(10deg);
    inset: 0;
    z-index: 0;
}
h1{
    font-size: 30px;
    margin: 0px;
}
p {
    font-size: large;
}